<div class="login-page ">
  <div class="form">
    <h1>Sign-in</h1>
    <br>
    <div class="text-danger">
      <i *ngIf="submited &&  errer  " class="fa fa-times text-danger"></i>
      <span *ngIf="submited && errer ">
        Tài Khoản hoặc Mật Khẩu không đúng
      </span>

    </div>
    <form [formGroup]="signinform" class="login-form" (ngSubmit)="onSubmit()">
      <input type="text" [ngClass]="{'is-invalid': submited && email  && email.invalid }" placeholder="Email"
        formControlName="email" name="email" />
      <!-- show errer -->
      <div class="text-danger">
        <i *ngIf="submited && email && email.invalid &&  getemailErrorMessage()" class="fa fa-times text-danger"></i>
        <span *ngIf="submited && email && email.invalid &&  getemailErrorMessage()">
          {{ getemailErrorMessage()}}
        </span>

      </div>
      <input type="password" formControlName="password"
        [ngClass]="{'is-invalid': submited && password  && password.invalid }" placeholder="password" name="password" />
      <!-- show errer -->
      <div class="text-danger">
        <i *ngIf="submited && password && password.invalid && getpwErrorMessage()" class="fa fa-times text-danger"></i>
        <span *ngIf="submited && password && password.invalid && getpwErrorMessage()">
          {{getpwErrorMessage()}}
        </span>

      </div>
      <input type="submit" value="SIGN IN" id="submit">
      <p class="message">Not registered? <a routerLink="/signup" (click)="gotoTop()">Create an account</a></p>
    </form>
  </div>
</div>