/* css */

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

.nav-mb {
    display: block;
}

.nav-pc {
    display: none;
}

@media (min-width:1024px) {
    .nav-mb {
        display: none;
    }

    .nav-pc {
        display: block;
    }
}

/* .show {
    pointer-events: none;
} */

/* .show:hover {
    pointer-events: auto;
} */

.show:hover .auth {
    display: block;
}