<header class=" bg-[#cd1817] ">
    <div class="flex justify-between h-[56px] p-[10px] items-center md:container md:mx-auto mx-auto">
        <a href="" class="text-[#ffffff] text-3xl">HOME</a>

        <div class="flex">
            <input type="text" placeholder="Nhập tên sản phẩm" class="h-[38px] w-[400px] p-2 rounded-l-sm outline-none">
            <button class="bg-[#333]  h-[38px] w-[58px]  rounded-r-sm">
                <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            </button>
        </div>

        <div class="flex space-x-2">
            <div class="text-center">
                <i class="fa-solid fa-file-lines fa-lg" style="color: #ffffff;"></i>
                <p class="text-[#ffffff]">
                    Thông tin hay
                </p>


            </div>
            <div class="text-center">
                <i class="fa-solid fa-file-invoice-dollar fa-lg" style="color: #ffffff;"></i>
                <p class="text-[#ffffff]">
                    Thanh toán & tiện ích
                </p>
            </div>
            <div class="text-center">
                <i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i>
                <p class="text-[#ffffff]">
                    Tài khoản của tôi
                </p>
            </div>
            <div class="text-center">
                <i class="fa-sharp fa-solid fa-cart-shopping fa-lg" style="color: #ffffff;"></i>
                <p class="text-[#ffffff]">
                    Giỏ hàng
                </p>
            </div>
        </div>
    </div>
</header>