<div class="container-xxl">
    <app-header-admin></app-header-admin>
    <div class="row row-cols-2">
        <app-categorys class="col-2"></app-categorys>
        <div class="col-10">
            <h2>Thêm sản phẩm</h2>
            <form action="">
                <div class="row row-cols-2">
                    <div>
                        <label for="" class="form-lable mb-2">Name</label>
                        <input type="text" class="form-control">

                    </div>
                    <div>
                        <label for="" class="form-lable mb-2">Price</label>
                        <input type="text" class="form-control">

                    </div>
                    <div>
                        <label for="" class="form-lable mb-2">Orinal_price</label>
                        <input type="text" class="form-control">

                    </div>
                    <div>
                        <label for="" class="form-lable mb-2">Image</label>
                        <input type="file" class="form-control">
                    </div>
                    <div>
                        <label for="" class="form-lable mb-2">description</label>
                        <textarea class="form-control" cols="10" rows="5" placeholder="Nhập mô tả">
                       </textarea>
                    </div>
                    <div>
                        <label for="" class="form-lable mb-2"> salient_features</label>
                        <textarea class="form-control" cols="10" rows="5" placeholder="Nhập mô tả dài">
                       </textarea>
                    </div>
                    <div>
                        <select class="form-select mt-4">
                            <option value="">Lựa chọn</option>
                            <option value="">Apple</option>
                            <option value="">Sam sung</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary mt-5">Thêm sản phẩm</button>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>