<div class="">
    <a routerLink="/admin" class="cate text-decoration-none text-dark">
        <div class="cate-item d-flex gap-1 mt-2 ">
            <span class="material-symbols-outlined">
                inventory_2
            </span>
            <p className="">Products</p>
        </div>
    </a>
    <a routerLink="/admin" class="cate text-decoration-none text-dark">
        <div class="cate-item d-flex gap-1 mt-2 ">
            <span class="material-symbols-outlined">
                inventory_2
            </span>
            <p className="">Categorys</p>
        </div>
    </a>
    <a routerLink="/admin/accounts" class="cate text-decoration-none text-dark">
        <div class="cate-item d-flex gap-1 mt-2 ">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            <p className="">Account</p>
        </div>
    </a>
    <a routerLink="/admin/brands" class="cate text-decoration-none text-dark">
        <div class="cate-item d-flex gap-1 mt-2 ">
            <span class="material-symbols-outlined">
                category
            </span>
            <p className="">Thương hiệu</p>
        </div>
    </a>
</div>