.card-body h5:hover {
    color: blue;
}

.buy a {
    background-color: beige;
}

.cart-item {
    background-color: rgb(228, 152, 54);
    position: absolute;
    color: white;
    width: 40%;
    padding: 3px;
    border-radius: 0 5px 5px 0;
    top: 160px;
}

.cart-item1 {
    background-color: red;
    position: absolute;
    color: white;
    width: 50%;
    padding: 3px;
    border-radius: 0 5px 5px 0;
    top: 194px;
}

.card img {
    width: 100%;
    padding: 30px;
    transform: scale(1);
    transition: all 0.5s;
}

.card img:hover {
    transform: scale(1.1);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    flex: 0 0 18rem;
    margin: 10px;
}


@media(min-width:768px) {

    .product {
        margin: 20px;
    }


    .products {
        justify-content: center;
    }
}

@media(min-width:1024px) {
    .products {
        justify-content: flex-start;
    }

    .product {
        flex: 0 0 calc(25% - 20px);
        /* Đặt kích thước của sản phẩm */
        margin: 10px;
        /* Khoảng cách giữa các sản phẩm */
    }
}

.border {
    width: 200px;
    border-radius: 5px;
}