<div class="w-full text-center">
    <section class="container-xxl mt-3 mb-3">
        <h2>Điện thoại nổi bật</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" *ngFor="let product of products | slice:0:limit ; let i = index">
                <div class="card" style="width: 18rem;">
                    <a (click)="gotoTop()" [routerLink]="['/product',product._id]"> <img [src]="product.image"
                            class="card-img-top" alt="image sản phẩm"></a>
                    <p class="cart-item">Trả góp 0%</p>
                    <p class="cart-item1">Giảm 7.000.000đ</p>
                    <div class="card-body">
                        <h5 class="card-title truncate">{{product.name}}</h5>
                        <div class="d-flex">
                            <p class="card-text text-danger fs-5 me-5">{{VND.format(product.price)}}</p>
                            <p class="card-text mt-1">{{VND.format(product.original_price)}}</p>
                        </div>
                        <!-- <p>Thương hiệu : <label class="text-primary fw-bold"> {{product.}}</label></p> -->
                        <!-- <button (click)="viewDetail(product._id) ;gotoTop()" *ngIf="isShow" class="btn btn-primary">xem chi
                                tiết</button> -->

                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </section>
    <button class="my-2 bg-red-600 text-white p-2 rounded-md" (click)="increaseLimit()">Load more</button>

</div>