<div class="text-blue-600 container mx-auto mt-3 mb-6">
    Trang chủ / Giỏ hàng
</div>
<article class="w-[70%] mx-auto border p-2 shadow-sm rounded-md my-4">
    <section class="flex justify-between ">
        <div class="w-[10%] m-2">
            <img src="https://fptshop.com.vn/Uploads/Originals/2022/7/23/637941779749495327_samsung-galaxy-s22-bora-purple-1.jpg"
                alt="">
        </div>
        <div class="w-[50%]">
            <h3>Samsung galaxy S22 5G 128GB</h3>
            <select name="HeadlineAct" id="HeadlineAct"
                class="mt-1.5 w-[20%] border rounded-lg border-gray-300 text-gray-700 sm:text-sm">
                <option value="">Tím</option>
                <option value="">Xanh</option>
                <option value="">Đen</option>
            </select>
            <ul class="list-disc text-gray-500 px-4">
                <li>Trả góp 0%</li>
                <li>Thu cũ đổi mới trợ giá ngay 15% đến 2 triệu (MintPro)</li>
                <li>Giảm đến 20% củ sạc nhanh 25W</li>
                <li>Đặc quyền trả góp 0% thẻ tín dụng đến 24 tháng qua Quà tặng Galaxy</li>
                <li>Sim MobiFone Siêu Data 1T giá chỉ 166.000đ khi</li>
                <li>Tặng 18 triệu phần quà 100% trúng</li>
                <li>Tặng gói Youtube Premium</li>
            </ul>
        </div>
        <div class="flex w-[40%]">
            <div>
                <label for="Quantity" class="sr-only"> Quantity </label>

                <div class="flex items-center border border-gray-200 rounded">
                    <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75">
                        &minus;
                    </button>

                    <input type="number" id="Quantity" value="1" readonly
                        class="h-10 outline-none w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />

                    <button type="button" class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75">
                        &plus;
                    </button>
                </div>
            </div>
        </div>
        <div class="w-[10%] text-red-600">
            <b>21.990.000₫</b>
        </div>

    </section>
    <hr>
    <div class="flex justify-between">
        <div>
            <h5>Mã giảm giá</h5>
            <div>
                <div class="flex space-x-2 items-center">
                    <input type="text" placeholder="Nhập mã giảm giá"
                        class="mt-1 h-[40px] p-2 border rounded-md border-gray-200 shadow-sm sm:text-sm" />
                    <button class="p-2 h-[40px] rounded-md text-white bg-red-600">Áp dụng</button>
                </div>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td>Tổng tiền:</td>
                    <td>21.990.000đ</td>
                </tr>
                <tr>
                    <td class="pr-5"><b>Cần thanh toán: </b></td>
                    <td><b class="text-red-600">21.990.000đ</b></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="w-[70%]">
        <input type="radio" name="gt"> Anh
        <input type="radio" name="gt"> Chị
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 py-2">
            <div>
                <input class="w-full border rounded-lg border-gray-200 p-2 text-sm" placeholder="Nhập họ tên"
                    type="email" id="email" />
            </div>

            <div>
                <input class="w-full border rounded-lg border-gray-200 p-2 text-sm" placeholder="Nhập số điện thoại"
                    type="tel" id="phone" />
            </div>
        </div>
        <div>
            <input class="w-full border rounded-lg border-gray-200 p-2 text-sm"
                placeholder="Nhập email (Không bắt buộc)" type="text" id="name" />
        </div>
    </div>
    <hr>
    <div class="text-center">
        <button class="text-xl font-semibold p-3 rounded-md bg-red-600 text-white">HOÀN TẤT ĐẶT HÀNG</button>
    </div>

</article>