<div class="bg-black  text-white " ng>
    <nav class="flex justify-around md:container md:mx-auto mx-auto h-[36px]">
        <div class="flex items-center space-x-1">
            <i class="fa-solid fa-mobile "></i>
            <p>ĐIỆN THOẠI</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-sharp fa-solid fa-laptop"></i>
            <p>LAPTOP</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-solid fa-tablet"></i>
            <p>MÁY TÍNH BẢNG</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-brands fa-apple"></i>
            <p>APPLE</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-solid fa-desktop"></i>
            <p>PC - LINH KIỆN</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-solid fa-headphones"></i>
            <p>PHỤ KIỆN</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-solid fa-arrow-rotate-right"></i>
            <p>MÁY CŨ GIÁ RẺ</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-solid fa-house"></i>
            <p>HÀNG GIA DỤNG</p>
        </div>
        <div class="flex items-center space-x-1">
            <i class="fa-solid fa-sim-card"></i>
            <p>SIM - THẺ</p>
        </div>
        <div class="flex items-center space-x-1">
            <div class="bg-white w-6 px-[4px] rounded-[50%]">
                <i class="fa-light fa-percent" style="color: #000000;"></i>
            </div>
            <p>KHUYẾN MÃI</p>
        </div>

    </nav>
</div>